synapse_workspace/pipeline/sdlh_curation_create_view_via_query.json
{
	"name": "sdlh_curation_create_view_via_query",
	"properties": {
		"activities": [
			{
				"name": "lookup_curated_data_logic",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM ETL.CurationMetadata\nWHERE CURATION_GROUPING_ID = '@{pipeline().parameters.PARAM_CURATION_GROUPING_ID}'\nAND CURATION_GROUPING_PRIORITY = '@{pipeline().parameters.PARAM_CURATION_GROUPING_PRIORITY}'\nAND IS_ENABLED = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sdlh_azuresql_db_metadata",
						"type": "DatasetReference",
						"parameters": {
							"METADATA_TABLE_NAME": "CurationMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for_each_curated_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_curated_data_logic",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_curated_data_logic').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "generate_curated_view",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Config].[usp_CreateOrAlterView]",
								"storedProcedureParameters": {
									"PARAM_TARGET_DATABASE_NAME": {
										"value": {
											"value": "@item().TARGET_DATABASE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_TARGET_SCHEMA_NAME": {
										"value": {
											"value": "@item().TARGET_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_TARGET_VIEW_NAME": {
										"value": {
											"value": "@item().TARGET_TABLE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_SQL_QUERY": {
										"value": {
											"value": "@item().SQL_QUERY_OR_PROCEDURE_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "synapse_sql_serverless_azir",
								"type": "LinkedServiceReference",
								"parameters": {
									"CONNECTION_STRING_SECRET_NAME": "synapse-sql-serverless-connection-string-001"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_CURATION_GROUPING_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"PARAM_CURATION_GROUPING_PRIORITY": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "SDLH/Common"
		},
		"annotations": []
	}
}