synapse_workspace/pipeline/sdlh_pipeline_concurrency_check.json
{
	"name": "sdlh_pipeline_concurrency_check",
	"properties": {
		"description": "Pipeline to check if a given pipeline is already running.  If the given pipeline is already running the duplicate run is failed to avoid issues with duplication and corrupting of required data",
		"activities": [
			{
				"name": "check_for_concurrent_runs",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set_variable_synapse_workspace_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', variables('VAR_SYNAPSE_WORKSPACE_NAME'), '.dev.azuresynapse.net/queryPipelineRuns?api-version=2020-12-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"lastUpdatedAfter\": \"@{getPastTime(1, 'Day')}\",\n    \"lastUpdatedBefore\": \"@{utcnow()}\",\n    \"filters\": [\n      {\n        \"operand\": \"PipelineName\",\n        \"operator\": \"Equals\",\n        \"values\": [\n          \"@{pipeline().parameters.PARAM_PIPELINE_NAME}\"\n        ]\n      },\n      {\n        \"operand\": \"Status\",\n        \"operator\": \"In\",\n        \"values\": [\n          \"InProgress\",\n          \"Queued\"\n        ]\n      }\n    ]\n  }",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			},
			{
				"name": "if_no_concurrent_pipeline_runs",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check_for_concurrent_runs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(length(activity('check_for_concurrent_runs').output.value), 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail_pipeline",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "insert_failure_log",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Pipeline concurrency check resulted in a failure. There is already a pipeline ', pipeline().parameters.PARAM_PIPELINE_NAME, ', ran by the trigger ', pipeline().parameters.PARAM_TRIGGER_NAME, ', in the Synapse Workspace ',variables('VAR_SYNAPSE_WORKSPACE_NAME'), '. The pipeline has been stopped to prevent data quality issues.')",
									"type": "Expression"
								},
								"errorCode": "429"
							}
						},
						{
							"name": "insert_failure_log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_InsertLog]",
								"storedProcedureParameters": {
									"COMPONENT_NAME": {
										"value": "run_pipeline_concurrency_check",
										"type": "String"
									},
									"DATABASE_NAME": {
										"value": null,
										"type": "String"
									},
									"DELETES": {
										"value": null,
										"type": "Int32"
									},
									"DURATION_SECONDS": {
										"value": null,
										"type": "Int32"
									},
									"END_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"ERROR_MESSAGE": {
										"value": {
											"value": "@concat('Pipeline concurrency check resulted in a failure. There is already a pipeline ', pipeline().parameters.PARAM_PIPELINE_NAME, ', ran by the trigger ', pipeline().parameters.PARAM_TRIGGER_NAME, ', in the Synapse Workspace ',variables('VAR_SYNAPSE_WORKSPACE_NAME'), '. The pipeline has been stopped to prevent data quality issues.')",
											"type": "Expression"
										},
										"type": "String"
									},
									"INCREMENTAL_KEY_VALUE": {
										"value": null,
										"type": "String"
									},
									"INSERTS": {
										"value": null,
										"type": "Int32"
									},
									"OPERATION": {
										"value": "Web Activity - Pipeline Concurrency",
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SCHEMA_NAME": {
										"value": null,
										"type": "String"
									},
									"SOURCE_SYSTEM": {
										"value": null,
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TABLE_NAME": {
										"value": null,
										"type": "String"
									},
									"TARGET_SYSTEM": {
										"value": null,
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().parameters.PARAM_TRIGGER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TIME": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGERING_PIPELINE_NAME": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGERING_PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"UPDATES": {
										"value": null,
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azure_sql_data_no_param_azir",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "set_variable_synapse_workspace_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_SYNAPSE_WORKSPACE_NAME",
					"value": {
						"value": "@pipeline().DataFactory",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PARAM_PIPELINE_NAME": {
				"type": "string"
			},
			"PARAM_PIPELINE_RUN_ID": {
				"type": "string"
			},
			"PARAM_TRIGGER_NAME": {
				"type": "string",
				"defaultValue": "Manual"
			}
		},
		"variables": {
			"VAR_SYNAPSE_WORKSPACE_NAME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SDLH/Common"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-24T15:41:56Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}