synapse_workspace/pipeline/sdlh_curation_create_view_via_openrowset.json
{
	"name": "sdlh_curation_create_view_via_openrowset",
	"properties": {
		"activities": [
			{
				"name": "lookup_curated_data_logic",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM ETL.CurationMetadata\nWHERE CURATION_GROUPING_ID = '@{pipeline().parameters.PARAM_CURATION_GROUPING_ID}'\nAND CURATION_GROUPING_PRIORITY = '@{pipeline().parameters.PARAM_CURATION_GROUPING_PRIORITY}'\nAND IS_ENABLED = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sdlh_azuresql_db_metadata",
						"type": "DatasetReference",
						"parameters": {
							"METADATA_TABLE_NAME": "CurationMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for_each_curated_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_curated_data_logic",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_curated_data_logic').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "generate_curated_view",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Config].[usp_CreateOrAlterViewOpenrowset]",
								"storedProcedureParameters": {
									"PARAM_TARGET_DATABASE_NAME": {
										"value": {
											"value": "@item().TARGET_DATABASE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_TARGET_SCHEMA_NAME": {
										"value": {
											"value": "@item().TARGET_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_TARGET_VIEW_NAME": {
										"value": {
											"value": "@item().TARGET_TABLE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_ADLS_LOCATION_PATH": {
										"value": {
											"value": "@item().ADLS_LOCATION_PATH",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_EXTERNAL_DATA_SOURCE": {
										"value": {
											"value": "@item().EXTERNAL_DATA_SOURCE",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_FORMAT": {
										"value": {
											"value": "@pipeline().parameters.PARAM_FORMAT",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_CSV_PARSER_VERSION": {
										"value": {
											"value": "@pipeline().parameters.PARAM_CSV_PARSER_VERSION",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_CSV_FIELDTERMINATOR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_CSV_FIELDTERMINATOR",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_CSV_HEADER_ROW": {
										"value": {
											"value": "@pipeline().parameters.PARAM_CSV_HEADER_ROW",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"PARAM_CSV_FIRSTROW": {
										"value": {
											"value": "@pipeline().parameters.PARAM_CSV_FIRSTROW",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_CSV_FIELDQUOTE": {
										"value": {
											"value": "@pipeline().parameters.PARAM_CSV_FIELDQUOTE",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARAM_CSV_ESCAPECHAR": {
										"value": {
											"value": "@pipeline().parameters.PARAM_CSV_ESCAPECHAR",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "synapse_sql_serverless_azir",
								"type": "LinkedServiceReference",
								"parameters": {
									"CONNECTION_STRING_SECRET_NAME": "synapse-sql-serverless-connection-string-001"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_CURATION_GROUPING_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"PARAM_CURATION_GROUPING_PRIORITY": {
				"type": "string",
				"defaultValue": "1"
			},
			"PARAM_FORMAT": {
				"type": "string",
				"defaultValue": "CSV"
			},
			"PARAM_CSV_PARSER_VERSION": {
				"type": "string",
				"defaultValue": "2.0"
			},
			"PARAM_CSV_FIELDTERMINATOR": {
				"type": "string",
				"defaultValue": ","
			},
			"PARAM_CSV_HEADER_ROW": {
				"type": "bool",
				"defaultValue": false
			},
			"PARAM_CSV_FIRSTROW": {
				"type": "string",
				"defaultValue": "1"
			},
			"PARAM_CSV_FIELDQUOTE": {
				"type": "string",
				"defaultValue": "\""
			},
			"PARAM_CSV_ESCAPECHAR": {
				"type": "string",
				"defaultValue": "\\\\"
			}
		},
		"folder": {
			"name": "SDLH/Common"
		},
		"annotations": []
	}
}